<!DOCTYPE html>
<html>

<head>
    <title>StyleBox Manager Web</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css">
</head>

<body>
    <div class="navbar">
        <a class="active" href="/">ADMINISTRATOR</a>
        <a href="/brandexcel">브랜드 DB 엑셀 업로드</a>
        <a href="/styleexcel">스타일 DB 엑셀 업로드</a>
        <a href="/getfeed">포스트별 선택 및 다운로드</a>
        <a href="/">스타일태그 분류 및 업로드</a>
    </div>
</body>

</html>