<!DOCTYPE html>
<html>

<head>
    <title>StyleBox Manager Web</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css">
</head>

<body>
    <div class="navbar">
        <a  class="active"href="/">ADMINISTRATOR</a>
        <a href="/brandexcel">Upload Brand Excel</a>
        <a href="/styleexcel">Upload Style Excel</a>
        <a href="/getfeed">Today's Data</a>
        <a href="/">Style Classification</a>
    </div>
</body>

</html>