<!DOCTYPE html>
<html>

<head>
    <title>제목</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/excelstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script>
        function fboardlist_submit() {
            var fileCheck = document.getElementById("myfile").value;
            if (!fileCheck) {
                alert("Please attach a file");
                return false;
            }
            return true;
        }
        function readExcel() {
            let input = event.target;
            let reader = new FileReader();
            var json_data = {}
            reader.onload = function () {
                let data = reader.result;
                let workBook = XLSX.read(data, { type: 'binary' });

                workBook.SheetNames.forEach(function (sheetName) {
                    console.log('SheetName: ' + sheetName);

                    let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
                    json_data[sheetName] = JSON.stringify(rows);
                    console.log(json_data[sheetName]);
                })
            };
            document.getElementById("myfile").value = json_data
            reader.readAsBinaryString(input.files[0]);
        }
    </script>
</head>

<body>
    <div class="navbar">
        <a href="/">ADMINISTRATOR</a>
        <a href="/brandexcel">브랜드 DB 엑셀 업로드</a>
        <a class="active" href="/styleexcel">스타일 DB 엑셀 업로드</a>
        <a href="/getfeed">포스트별 선택 및 다운로드</a>
        <a href="/">스타일태그 분류 및 업로드</a>
    </div>
    <div class="container">
        <div class="under_container">
            <form onsubmit="return fboardlist_submit();" method="post" enctype="multipart/form-data">
                <label for="myfile">Select a file</label><br>
                <!-- <input type="file" id="myfile" name="myfile" onchange="readExcel()"><br><br> -->
                <input type="file" id="myfile" name="myfile"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>